body{
    background: url(../image/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fpart{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(5, 5, 5),rgba(33, 216, 207, 0.822),rgba(96, 82, 218, 0.822));
    background-size: 150%;
    box-shadow: 20px 20px 60px #0bb9d8, 
    -20px -20px 60px  #03b4b4; 
    transform: translate(-50%,-50%);
    height: 700px;
    left: 75%;
    position: absolute;
    top: 43%;
    width: 750px;
    transition: 1s
}
.fpart:hover{
    color: rgb(8, 165, 185);
    transition: 1s;
}
.title:hover{
    color: #0ed6dd;
}
.title{
    color: #f1ecec;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10rem;
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}
.btn{
    background-color:rgba(17, 228, 210, 0.753);
    box-shadow: 2px 2px 4px #0d0314, 
    -2px -2px 4px  #0d0314; 
    border-radius: 6rem;
    font-family: cursive;
    font-size: 1.5rem;
    height: 2rem;
    left: 34%;
    margin: 10px;
    padding:8.5px;
    position: absolute;
    text-decoration-line: none;
    text-align: center;
    top: 53%;
    width: 15rem;
    transition: 1s;
    text-decoration: none;
}
.btn:hover{
    color: #d0d2e4;
    background:  #0b87cf;
    box-shadow: 0 0 10px #031242, 0 0 40px #0c19da, 0 0 80px #0abeeb;
    transition-delay: 0s;
}